*{
    padding:0;
    margin:0;
    box-sizing : border-box;
}
.login{
    background:cadetblue;
}


.inp1{
    border:none;
    outline:none;
    border-bottom: 1px solid gray;
    width:100%;
    

}
.icon{
     
  position: absolute;
}

.fa-facebook-square{
    font-size: 37px;
    color:blue;
}
.fa-twitter-square{
    font-size: 37px;
    color:rgb(5, 122, 168);
}

.fa-google-plus-square{
    font-size: 37px;
    color:red;
}
